.layout-outer {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  height: 100%;
}
